   
#temperatureslider {
    width: 400px;
}
#temperaturediv, #selectdays, #selectdaytext, #selecttemperaturetext, #updatecalendarbtn {
    margin-left: 20px;
}
.circle {
    float: left;
    left: 0px;
    top: 0px;
    margin: 0 10px 0 0;
    width: 45px; height: 45px;
    border-radius: 50%;
}

.circlered {
    background: red;
}

.circleyellow {
    background: orange;
}
.circlegreen {
    background: green;
}
.sport_icons {
    left: 0px;
    top: 0px;
    margin: 0;
    width: 45px; 
    height: 45px;
    opacity: 0.50;    
}

